// =============================================================================
// Carousel
// =============================================================================

// Carousel
// -----------------------------------------------------------------------------
//
// Purpose: Carousel using slickJS plugin
//
//
// 1. Setting an overflow here to stop the slides from stacking before the carousel has initialised
// 2. Dots pagination markup is generated bu the JS plugin so don't have as much control over the class names
//
// -----------------------------------------------------------------------------

.c-carousel {
    @include component-margins;
}

.c-carousel__container {
    @include make-col-ready();
    @include make-col(12);
}

// 1
.c-carousel__slides {
    overflow: hidden;
}

.c-carousel__slide {
    background-color: $color-carousel-slide-bg;
    height: 350px;
    position: relative;
    width: 100%;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        height: 400px;
    }

    @include media-breakpoint-up(xl) {
        height: 500px;
    }
}

.c-carousel__slide-content {
    bottom: $unit*2;
    color: $color-carousel-text;
    left: $unit*2;
    position: absolute;
    right: $unit*2;
}

.c-carousel__slide-title {
    @include heading-h1;
}

.c-carousel__slide-summary {
    margin-top: $unit;
    max-width: 600px;
}

.c-carousel__slide-link {
    margin-top: $unit;
}

.c-carousel__prev, .c-carousel__next {
    cursor: pointer;
    position: absolute;
    top: $unit*2;
    z-index: 100;

    svg {
        fill: $color-carousel-pagination;
        height: $unit*3;
        transition: opacity 0.3s;
        width: $unit*3;
    }

    html.no-touchevents &:hover {
        svg {
            opacity: 0.5;
        }
    }
}

.c-carousel__prev {
    right: $unit*6;
}

.c-carousel__next {
    right: $unit*2;
}

// 2
.c-carousel__dots {
    @include text-center;
    margin-top: $unit*3;

    li {
        cursor: pointer;
        display: inline-block;
        margin: 0 $unit*0.5;
    }

    button {
        @include text-hide;
        background-color: $color-carousel-dots-bg;
        border-radius: 50%;
        content: "";
        cursor: pointer;
        display: inline-block;
        height: $unit*2;
        width: $unit*2;

        html.no-touchevents &:hover {
            background-color: $color-carousel-dots-active-bg;
        }
    }
}


// Carousel Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default carousel
//
//
// 1. Dots pagination active state
//
// -----------------------------------------------------------------------------

// 1
.c-carousel__dots li.slick-active button {
    background-color: $color-carousel-dots-active-bg;
}
