// =============================================================================
// Call to Action
// =============================================================================

// Call to Action
// -----------------------------------------------------------------------------
//
// Purpose: Promotional message with links
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-cta {
    @include component-margins;
}

.c-cta__content-container {
    @include make-col-ready();
    @include make-col(12);
    @include text-center;

    @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(8);
        @include make-col-offset(2);
    }
}

.c-cta__title-container {
    margin-bottom: $unit;
}

.c-cta__title {
    @include heading-h0;
    margin-bottom: $unit*2.5;
}

.c-cta__summary-container {
    margin-bottom: $unit*4;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 80%;
    }

    @include media-breakpoint-up(xl) {
        width: 65%;
    }
}

.c-cta__link {
    display: inline-block;
}

.c-cta__link + .c-cta__link {
    @include media-breakpoint-up(xs) {
        margin-left: $unit*2;
    }
}


// Call to Action Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default call to action
//
//
// 1.
//
// -----------------------------------------------------------------------------

// 1