// =============================================================================
// Footer
// =============================================================================

// Global Footer
// -----------------------------------------------------------------------------
//
// Purpose: Always sits at the bottom of each page
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-footer {
    @include component-margins-bottom;
    background-color: $color-footer-bg;
    color: $color-footer-text;
}

.c-footer__social-items {
    @include make-col-ready;
    @include make-col(12);
    display: flex;
    margin-bottom: $unit*3;

    @include media-breakpoint-up(md) {
        @include make-col(9);
        @include make-col-offset(1.5);
    }

    @include media-breakpoint-up(lg) {
        margin-top: $unit*4;
    }
}

.c-footer__social-item {
    transition: opacity 0.3s;

    &:not(:first-of-type) {
        margin-left: $unit*3;
    }

    html.no-touchevents &:hover {
        opacity: 0.7;
    }
}

.c-footer__social-item-link {
    svg {
        height: $unit*2.5;
        width: $unit*2.5;
    
        path {
            fill: $color-white;
        }
    }
}

.c-footer__cols {
    @include make-col-ready;
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(9);
        @include make-col-offset(1.5);
    }
}

.c-footer__col {
    @include make-col-ready;
    @include make-col(6);

    @include media-breakpoint-up(lg) {
        @include make-col(3);
        margin-top: 0;
    }

    &:nth-child(n+3) {
        @include media-breakpoint-down(md) {
            margin-top: $unit*2;
        }

        // @include media-breakpoint-up(md) {
        //     margin-top: $unit*4;
        // }
    }
}

.c-footer__menu-item + .c-footer__menu-item {
    margin-top: $unit;
}

.c-footer__menu-item-link {
    @include anchor;
    @include para-small;
    color: currentColor;
}

.c-footer__legal {
    @include make-col-ready;
    @include make-col(12);
    margin-top: $unit*2;

    @include media-breakpoint-up(md) {
        @include make-col(9);
        @include make-col-offset(1.5);
    }

    @include media-breakpoint-up(lg) {
        margin-top: $unit*4;
    }
}

.c-footer__copyright {
    @include para-small;
    margin-top: $unit;

    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}


// Footer Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default footer
//
//
// 1.
//
// -----------------------------------------------------------------------------

// 1