// =============================================================================
// Form Builder
// =============================================================================

// Form Builder
// -----------------------------------------------------------------------------
//
// Purpose: Style up the Kentico CMS form elements
//
//
// 1. As we have no control over the class names we are nesting them here
//
// -----------------------------------------------------------------------------

// 1
div[id^=form] {
    @include component-margins;
    @include make-container;
    @include make-container-max-widths;

    @include media-breakpoint-down(sm) {
        padding-left: $unit*2;
        padding-right: $unit*2;
    }

    form {
        width: 100%;

        @include media-breakpoint-up(md) {
            margin-left: 15%;
            width: 70%;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 20%;
            width: 60%;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 25%;
            width: 50%;
        }
    }

    .form-field {
        padding-bottom: $unit*2;
    }

    .control-label {
        @include form-label;
        display: inline-block;
        padding-right: $unit;
        width: 30%;
        vertical-align: top;
    }

    .editing-form-control-nested-control {
        display: inline-block;
        width: calc(70% - 5px);
    }

    input[type=text], input[type=email] {
        @include form-textbox;
        width: 100%;
    }

    input[type=checkbox] {
        @include font-size(1.4);
        margin-top: 2px;

        @include media-breakpoint-up(md) {
            @include font-size(1.6);
            margin-top: 4px;
        }
    }

    input[type=radio] {
        @include font-size(1.4);
        margin-top: 2px;

        @include media-breakpoint-up(md) {
            @include font-size(1.6);
            margin-top: 4px;
        }
    }

    .ktc-radio-list {
        label {
            @include form-label;
            display: inline-block;
            margin-left: $unit;
            margin-right: $unit;
            margin-top: 1px;
            vertical-align: top;

            @include media-breakpoint-up(md) {
                margin-top: 2px;
            }
        }
    }

    textarea {
        @include form-textarea;
        width: 100%;
    }

    select {
        @include font-size(1.2);
        padding: $unit;

        @include media-breakpoint-up(md) {
            @include font-size(1.4);
        }
    }

    input[type=submit] {
        @extend .c-btn;
        margin-left: 30%;
    }

    .field-validation-error {
        @include para-small;
        color: $color-form-validation-text-error;
        padding-top: $unit;
    }
}
