// =============================================================================
// Content Double
// =============================================================================

// Content Double
// -----------------------------------------------------------------------------
//
// Purpose: Two blocks of generic content
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-content-double {
    @include component-margins;
}

.c-content-double__content-container {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(6);
    }
}

.c-content-double__content-container + .c-content-double__content-container {
    margin-top: $unit*4;

    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

.c-content-double__content-title {
    @include heading-h1;
    margin-bottom: $unit;
    max-width: 95%;

    @include media-breakpoint-up(md) {
        margin-bottom: $unit*2;
    }
}

.c-content-double__content {
    max-width: 95%;
}

.c-content-double__btn-container {
    margin-top: $unit*2;
}


// Content Double Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default content double
//
//
// 1.
//
// -----------------------------------------------------------------------------

// 1