// =============================================================================
// Media
// =============================================================================

// Media
// -----------------------------------------------------------------------------
//
// Purpose: Media with optional caption
//
//
// 1.
//
// -----------------------------------------------------------------------------

.c-media {
    @include component-margins;
}

.c-media__container {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(8);
        @include make-col-offset(2);
    }
}

.c-media__wrapper {
    @include aspect-ratio(16, 9);
}

.c-media__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.c-media__caption {
    @include para;
    margin-top: $unit;
}


// Media Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default media
//
//
// 1.
//
// -----------------------------------------------------------------------------

// 1