// =============================================================================
// Colour Settings
// =============================================================================

// Brand Colours
// -----------------------------------------------------------------------------
//
// Purpose: All the colours used throughout the site
//
//
// 1. Brand colours (always use sequence names for the brand colours e.g. primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary)
// 1. We don't want any colours specified by name apart from - black, white & grey (light/dark variations are fine)
// 2. Other global colours
// 3. Social brand colours
//
// -----------------------------------------------------------------------------

// 1
$color-black:                                           #000000;
$color-brand-primary:                                   #E7111C;
$color-brand-secondary:                                 #830007;
$color-grey:                                            #767676;
$color-grey-dark:                                       #141414;
$color-grey-light:                                      #cccccc;
$color-white:                                           #ffffff;

// 2
$color-validation-error:                                #E00000;
$color-validation-success:                              #008000;

// 3
$color-social-facebook:                                 #3b5998;
$color-social-twitter:                                  #1da1f2;
$color-social-linkedin:                                 #0077b5;
$color-social-instagram:                                #405de6;
$color-social-youtube:                                  #cd201f;
$color-social-pinterest:                                #bd081c;


// Page
// -----------------------------------------------------------------------------
//
// Purpose: All the global page level colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-page-bg:                                         $color-grey-dark;
$color-page-focus-outline:                              #EE34D2;
$color-page-text:                                       $color-white;
$color-page-text-selection-bg:                          $color-brand-primary;
$color-page-text-selection-text:                        $color-white;


// Accordion
// -----------------------------------------------------------------------------
//
// Purpose: All the accordion colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-accordion-border:                                $color-brand-primary;
$color-accordion-item-heading-text:                     $color-brand-primary;
$color-accordion-item-icon-bg:                          $color-brand-primary;


// Blockquote
// -----------------------------------------------------------------------------
//
// Purpose: All the blockquote colours
//
//
// 1.
//
// -----------------------------------------------------------------------------


// Blog Article
// -----------------------------------------------------------------------------
//
// Purpose: All the blog article colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-blog-article-progress-bar-bg:                    $color-brand-primary;


// Listing
// -----------------------------------------------------------------------------
//
// Purpose: All the blog listing colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-listing-filtered-border:					$color-brand-primary;


// Breadcrumb
// -----------------------------------------------------------------------------
//
// Purpose: All the breadcrumb colours
//
//
// 1.
//
// -----------------------------------------------------------------------------


// Buttons
// -----------------------------------------------------------------------------
//
// Purpose: All the button colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-btn-bg:                                        	$color-white;
$color-btn-text:                                        $color-black;
$color-btn-border:                                      $color-white;
$color-btn-hover-bg:                                    $color-grey-light;
$color-btn-hover-border:                                $color-grey-light;
$color-btn-hover-text:                                  $color-black;

$color-btn-grey-bg:                                     $color-grey;
$color-btn-grey-text:                                   $color-white;
$color-btn-grey-border:                                 $color-grey;
$color-btn-grey-hover-bg:                               $color-grey-dark;
$color-btn-grey-hover-text:                             $color-white;
$color-btn-grey-hover-border:                           $color-grey-dark;


// Carousel
// -----------------------------------------------------------------------------
//
// Purpose: All the carousel colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-carousel-dots-active-bg:                         $color-black;
$color-carousel-dots-bg:                                rgba($color-black, 0.1);
$color-carousel-pagination:                             $color-black;
$color-carousel-slide-bg:                               rgba($color-black, 0.1);
$color-carousel-text:                                   $color-black;


// Content
// -----------------------------------------------------------------------------
//
// Purpose: All the content colours
//
//
// 1.
//
// -----------------------------------------------------------------------------


// Cookie Bar
// -----------------------------------------------------------------------------
//
// Purpose: All the cookie bar colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-cookiebar-bg:                                    #eee;
$color-cookiebar-text:                                  $color-brand-primary;


// Footer
// -----------------------------------------------------------------------------
//
// Purpose: All the footer colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-footer-bg:                                       $color-grey-dark;
$color-footer-text:                                     $color-grey-light;


// Forms
// -----------------------------------------------------------------------------
//
// Purpose: All the form colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-form-input-bg:                                   $color-black;
$color-form-input-border:                               $color-white;
$color-form-input-focus:                                $color-white;
$color-form-input-placeholder:                          $color-grey-light;
$color-form-input-text:                                 $color-white;
$color-form-validation-bg-error:                        rgba($color-validation-error, 0.02);
$color-form-validation-border-error:                    $color-validation-error;
$color-form-validation-text-error:                      $color-validation-error;
$color-form-validation-bg-success:                      rgba($color-validation-success, 0.02);
$color-form-validation-border-success:                  $color-validation-success;
$color-form-validation-text-success:                    $color-validation-success;


// Masthead
// -----------------------------------------------------------------------------
//
// Purpose: All the masthead colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-masthead-bg:                                     transparent;
$color-masthead-text:                                   $color-white;


// Navbar
// -----------------------------------------------------------------------------
//
// Purpose: All the navbar colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-navbar-bg:                                       linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
$color-navbar-scroll-bg:                                $color-grey-dark;
$color-navbar-dropdown-desktop-bg:                      $color-brand-primary;
$color-navbar-dropdown-desktop-text:                    $color-white;
$color-navbar-links-bg:                                 $color-brand-primary;
$color-navbar-links-text:                               $color-white;
$color-navbar-text:                                     $color-white;


// Newsletter
// -----------------------------------------------------------------------------
//
// Purpose: All the newsletter colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-newsletter-bg:                                   rgba($color-black, 0.1);


// Pagination
// -----------------------------------------------------------------------------
//
// Purpose: All the pagination component colours
//
//
// 1.
//
// -----------------------------------------------------------------------------


// Selects
// -----------------------------------------------------------------------------
//
// Purpose: All the select (dropdown) colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-select-option-bg:                                $color-white;
$color-select-text:                                     $color-black;


// Team Listing
// -----------------------------------------------------------------------------
//
// Purpose: All the team listing colours
//
//
// 1.
//
// -----------------------------------------------------------------------------

$color-team-listing-header-border:                       $color-brand-primary;
