// =============================================================================
// Buttons
// =============================================================================

// Button
// -----------------------------------------------------------------------------
//
// Purpose: Button variations
//
//
// 1. Optional svg icon
//
// -----------------------------------------------------------------------------

.c-btn {
    @include para;
    background-color: $color-btn-bg;
    border: solid 1px $color-btn-border;
    border-radius: 0;
    color: $color-btn-text;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    padding: $unit*1.5;
    text-decoration: none;
    transition: background-color 0.3s, border 0.3s, color 0.3s;

    @include media-breakpoint-up(lg) {
        padding: $unit*2;
    }

    // 1
    svg {
        fill: $color-btn-text;
        display: inline-block;
        height: $unit*1.5;
        margin-left: $unit;
        vertical-align: middle;
        width: $unit*1.5;
    }

    html.no-touchevents &:hover {
        background-color: $color-btn-hover-bg;
        border-color: $color-btn-hover-border;
        color: $color-btn-hover-text;

        svg {
            fill: $color-btn-hover-text;
        }
    }
}

// Button Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default buttons
//
//
// 1. Button using the primary brand colours
// 2. Button using the secondary brand colours
// 3. Large button
// 4. Small button
// 5. Compact button
//
// -----------------------------------------------------------------------------

// 1
.c-btn--primary {
    background-color: $color-btn-primary-bg;
    border-color: $color-btn-primary-border;
    color: $color-btn-primary-text;

    svg {
        fill: $color-btn-primary-text;
    }

    html.no-touchevents &:hover {
        background-color: $color-btn-primary-hover-bg;
        border-color: $color-btn-primary-hover-border;
        color: $color-btn-primary-hover-text;

        svg {
            fill: $color-btn-primary-hover-text;
        }
    }
}

// 2
.c-btn--secondary {
    background-color: $color-btn-secondary-bg;
    border-color: $color-btn-secondary-border;
    color: $color-btn-secondary-text;

    svg {
        fill: $color-btn-secondary-text;
    }

    html.no-touchevents &:hover {
        background-color: $color-btn-secondary-hover-bg;
        border-color: $color-btn-secondary-hover-border;
        color: $color-btn-secondary-hover-text;

        svg {
            fill: $color-btn-secondary-hover-text;
        }
    }
}

// 3
.c-btn--large {
    @include para-large;
    padding: $unit*2;

    @include media-breakpoint-up(lg) {
        padding: $unit*2.5;
    }
}

// 4
.c-btn--small {
    @include para;
    line-height: 100%;
    padding: $unit;

    @include media-breakpoint-up(lg) {
        padding: $unit*1.5;
    }
}

// 5
.c-btn--compact {
    @include para-small;
    line-height: 100%;
    padding: $unit*0.5;

    @include media-breakpoint-up(lg) {
        padding: $unit;
    }
}
