// =============================================================================
// Buttons
// =============================================================================

// Button
// -----------------------------------------------------------------------------
//
// Purpose: Button variations
//
//
// 1. Optional svg icon
//
// -----------------------------------------------------------------------------

.c-btn {
    @include para;
    background-color: $color-btn-bg;
    border: solid 1px $color-btn-border;
    border-radius: $unit*0.5;
    color: $color-btn-text;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
    padding: $unit*1.5;
    text-decoration: none;
    transition: background-color 0.3s, border 0.3s, color 0.3s;

    @include media-breakpoint-up(lg) {
        padding: $unit*1.5 $unit*2;
    }

    // 1
    svg {
        fill: $color-btn-text;
        display: inline-block;
        height: $unit*1.5;
        margin-left: $unit;
        vertical-align: middle;
        width: $unit*1.5;
    }

    html.no-touchevents &:hover {
        background-color: $color-btn-hover-bg;
        border-color: $color-btn-hover-border;
        color: $color-btn-hover-text;

        svg {
            fill: $color-btn-hover-text;
        }
    }
}

// Button Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default buttons
//
//
// 1. Button using the grey colours
//
// -----------------------------------------------------------------------------

// 1
.c-btn--grey {
    background-color: $color-btn-grey-bg;
    border-color: $color-btn-grey-border;
    color: $color-btn-grey-text;

    svg {
        fill: $color-btn-grey-text;
    }

    html.no-touchevents &:hover {
        background-color: $color-btn-grey-hover-bg;
        border-color: $color-btn-grey-hover-border;
        color: $color-btn-grey-hover-text;

        svg {
            fill: $color-btn-grey-hover-text;
        }
    }
}