// =============================================================================
// Forms
// =============================================================================

// Form
// -----------------------------------------------------------------------------
//
// Purpose: Global form styles, the idea is to keep a consistent style across all forms.
// A separate class is used per form to define the column layout (see next block)
//
//
// 1. Hide the overall form legend
//
// -----------------------------------------------------------------------------

.c-form {
}

// 1
.c-form__legend {
    display: none;
}

@mixin form-label {
    @include para-small;
    display: block;
    font-weight: 700;
    margin-bottom: $unit;
}

.c-form__label {
    @include form-label;
}

.c-form__subheading {
    @include form-label;
}


// Form Textbox
// -----------------------------------------------------------------------------
//
// Purpose: Styles for textbox elements
//
//
// 1. Element wrapped around each textbox field and label
// 2. Textbox validation error
// 3. Textbox valid
// 4. Textbox hover/focus
//
// -----------------------------------------------------------------------------

// 1
.c-form__textbox-field {

}

@mixin form-textbox {
    @include para;
    background-color: $color-form-input-bg;
    border: none;
    border: 1px solid $color-form-input-border;
    border-radius: 0;
    color: $color-form-input-text;
    line-height: 100%;
    height: 100%;
    outline: none;
    padding: $unit;
    transition: border 0.3s;
    width: 100%;

    @include media-breakpoint-up(lg) {
        padding: $unit*2;
    }

    &::placeholder {
        color: $color-form-input-placeholder;
    }

    // 2
    &.error {
        border-color: $color-form-validation-border-error;
    }

    // 3
    &.valid {
        border-color: $color-form-validation-border-success;
    }

    // 4
    @include hocus {
        border-color: $color-form-input-focus !important;
        outline: none;
    }
}

.c-form__textbox {
    @include form-textbox;
}


// Form Validation
// -----------------------------------------------------------------------------
//
// Purpose: Styles for form validation
//
//
// 1. Error styling for validation message
// 2. Success styling for validation message
//
// -----------------------------------------------------------------------------

.c-form__validation {
    :first-child {
        margin-top: 0;
    }

    p, ul, ol {
        margin-top: $unit;
    }

    ul, ol {
        @include para;

        li {
            margin-left: 20px;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }
}

// 1
.c-form__validation--error {
    background-color: $color-form-validation-bg-error;
    border: 1px solid $color-form-validation-border-error;
    color: $color-form-validation-text-error;
    padding: $unit*2;
}

// 2
.c-form__validation--success {
    background-color: $color-form-validation-bg-success;
    border: 1px solid $color-form-validation-border-success;
    color: $color-form-validation-text-success;
    padding: $unit*2;
}
